.tarjetasCanciones {
    flex-direction: column;
    display: flex;
    background: linear-gradient(180deg, #2B9E4B 0%, #3BEB6C 21.35%, #59FF88 59.45%, #FFF 91.15%);
    padding-top: 10px;
}


.textoInicio h5{
    font-size: 4.5em;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}


.contenedorTarjetas {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
}

.tarjeta {
    width: 40%;
    height: 17rem;
    flex-shrink: 0;
    background-color: #FFF;
    margin: 0px 20px 0px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.51);
    transition: .5s all ease;
    margin-top: 20px;
}

.tarjeta:nth-child(odd) {
    justify-content: flex-start;
}

/* Estilo para las tarjetas pares (derecha) */
.tarjeta:nth-child(even) {
    margin-left: auto;
}

.tarjeta:nth-child(odd):hover {
    transform: translateX(20px);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.81);
}

/* Efecto hover para las tarjetas pares (derecha) */
.tarjeta:nth-child(even):hover {
    transform: translateX(-20px);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.81);
}

.animado {
    opacity: 0;
    transition: all .5s;
    
}


.contenedorImagen {
    width: 55%;
}

.imagen {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}

.infoTarjeta {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: column;
}

.nombreBanda {
    color: #303030;
    line-height: normal;
    font-size: 3rem;
    font-weight: bold;
}

.botones {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.fa-forward {
    font-size: 30px;
    margin-right: 0;
    margin: 4px;
    transition: .5s all ease;
}

.play {
    font-size: 30px;
    font-size: 30px;
    margin-right: 0;
    margin: 4px;
    transition: .5s all ease;
}

.fa-play:hover,
.fa-forward:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

#nombreCancion {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #2B9E4B;
}

.section2 {
    flex-direction: column;
    display: flex;
    padding-top: 10px;
    background: radial-gradient(110.93% 107.15% at 38.61% 124.27%, #59FF88 21.36%, #59FF88 45.25%, #FFF 87.50%);
    padding-top: 3em;
}

.section3 {
    flex-direction: column;
    display: flex;
    padding-top: 10px;
    background: #59FF88;
    padding-bottom: 3em;
    padding-top: 3em;
}

@media screen and (max-width:1124px){
    .tarjeta {
        width: 50%;
        height: 40%;
    }
    .contenedorTarjetas {
        justify-content: flex-start;
    }
}

@media screen and (max-width:915px){
    .tarjeta {
        width: 60%;
        height: 12em;
    }
    .tarjetasCanciones {
        height: auto;
    }
}

@media screen and (max-width:674px){
    .tarjeta:nth-child(even) {
        margin: 20px 0px 0px 0px;
    }
    .contenedorTarjetas {
        gap: 30px;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    .nombreBanda {
        font-size: 2rem;
    }

    .tarjeta {
        width: 80%;
        min-height: 12rem;
        margin-top: 10px;
    }
    .botones {
        gap: 20px;
    }
    .botones button i,  .ui-like {
        font-size: 1.6em;
    }
    .tarjeta:nth-child(odd):hover {
        transform: translateX(0px);
    }
    .tarjeta:nth-child(even):hover {
        transform: translateX(0px);
    }
}

@media screen and (max-width:460px){
    .textoInicio h5 {
        font-size: 3.2rem;
    }
    .tarjeta {
        width: 80%;
    }
    .nombreBanda {
        width: 100%;
    }
    .infoTarjeta {
        align-items: flex-start;
    }
    .tarjeta h4{
        font-size: 2em;
    }

    #nombreCancion {
        font-size: 10px;
    }
    .tarjeta:nth-child(odd):hover {
        transform: translateX(0px);
    }
    .tarjeta:nth-child(even):hover {
        transform: translateX(0px);
    }
    
}

@media screen and (max-width: 357px) {
    .contenedorImagen {
        width: 50%;
    }
    .textoInicio h5{
        font-size: 3em;
    }
    .tarjeta {
        width: 80%;
        height: 11rem;
    }
    .imagen {
        height: 60%;
        width: 100%;
    }
    .infoTarjeta h4 {
        font-size: 2em;
    }
    .nombreCancion {
        font-size: 10px;
    }
    
}


