footer {
    background: rgba(43, 158, 75, .9);
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0px;
    height: 20vh;
    padding: 20px;
}

.redes, .proyectos, .contacto {
    height: 100%;
    width: 33%;
}

.contenedorRedes, .contenedorProyectos, .contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedorContacto .redesLista  {
    flex-direction: column;
}

.contenedorContacto .redesLista li {
    margin: 0px;
    font-size: 1rem;
}

.contenedorContacto .redesLista li i {
    font-size: 1rem;
    margin-right: 1rem;
}

.contenedorProyectos .redesLista {
    flex-direction: column;
}

.contenedorProyectos .redesLista li {
    margin: 0px;
}

.titulo {
    font-size: 1.8rem;
}

.redesLista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redesLista li  {
    margin: 20px;
    font-size: 1.5rem;
    transition: .2s all ease-in ;
}

.iconosRed {
    font-size: 1rem;
}


@media screen and (max-width:915px){
    footer {
        height: max-content;
    }
}

@media screen and (max-width:769px){
    footer {
        flex-direction: column;
    }
    footer section {
        margin-top: 2em;
    }
    .redes, .proyectos, .contacto {
        width: 100%;
    }
    .iconosRed {
        font-size: 1.5em;
    }
}

@media screen and (max-width:621px){
    .titulo {
        text-align: center;
    }
}